/adv_V2.cpython-37.pyc
/base.cpython-37.pyc
/hrudaycommon.cpython-37.pyc
/HD.cpython-37.pyc
/IH_risk.cpython-37.pyc
/adv.cpython-37.pyc
/card_symp.cpython-37.pyc
/chest_pain.cpython-37.pyc
/disease.cpython-37.pyc
/other.cpython-37.pyc
/rfever.cpython-37.pyc
/suspected_disease.cpython-37.pyc
